<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d6244486-42ee-4956-b1f1-f4682c59a043/resourceGroups/dssnewone/providers/Microsoft.ContainerRegistry/registries/dssnew</ResourceId>
    <ResourceName>dssnew</ResourceName>
    <ResourceGroup>dssnewone</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://dssnew.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a540a9b2-a6de-4515-9931-69722c4b7d65</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>